<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <title>Dash</title>
    </head>
<body>
    <div class="content">
        <ul class="breadcrumbs">
            <a href="/">Dash</a>
        </ul>
        
        <h1> Hobbies </h1>
        <section class="dataTable">
            <table class="data">
                <tr>
                    <th>Hobby ID</th>
                    <th>Hobby Name</th>
                    <th>Description</th>
                </tr>
                <% hobbies.forEach(hobby => { %>
                    <tr>
                        <td><%= hobby.Hobby_ID %></td>
                        <td><%= hobby.Hobby_Name %></td>
                        <td><%= hobby.Hobby_Description %></td>
                    </tr>
                    
                <% }); %>
            </table>
        </section>
    </div>
</body>
</html>
